* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*Boot Css*/

html,
body {
    overflow-x: hidden;
    height: 100%;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.w50 {
    padding: 0 1%;
    width: 50%;
}

.w33 {
    padding: 0 1%;
    width: 33%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/*Estilização do site*/

/*Header*/

header {
    background-color: rgb(75, 221, 75);
    padding: 20px 0;
}

header .logo {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.mobile {
    display: none;
}

nav.desktop ul {
    list-style-type: none;
}

nav.desktop li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0 20px;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

/*Banner principal*/

section.banner-principal {
    width: 100%;
    height: 600px;
    position: relative;
}

section.descricao-autor {
    padding: 30px 0;
}

section.descricao-autor h2 {
    font-size: 32px;
}

section.descricao-autor p {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}


.banner-single {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

section .overlay {
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.3);
    position: absolute;
}

section.banner-principal form {
    z-index: 2;
    width: 98%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

section.banner-principal form h2 {
    color: white;
    font-size: 32px;
    text-align: center;
}

section.banner-principal form input[type=email] {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: 24px;
    padding-left: 10px;
    border: 1px solid green;
}

section.banner-principal form input[type=submit] {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: rgb(75, 221, 75);
    color: white;
    font: 24px;
    cursor: pointer;
}

/*Especialidades*/
section.especialidades {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    background-color: rgb(117, 243, 117);
}

section.especialidades .title {
    font-size: 40px;
}

.box-especialidades {
    margin: 20px 0;
}

.box-especialidades h3 i {
    font-size: 100px;
}

.box-especialidades p {
    margin-top: 10px;
}

/*Extras*/

section.extras {
    padding: 20px 0;
    background-color: rgb(214, 250, 214);
}

.depoimentos-container,
.servicos-container {
    padding: 10px 2%;
}

section.extras .title {
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
}

section.extras .depoimento-single {
    padding: 10px 3px;
    border-bottom: 2px solid black;
}

p.depoimentos-descricao {
    font-size: 18px;
}

p.nome-autor {
    color: red;
    font-weight: bold;
}

.servicos ul {
    margin: 10px 0;
}

.servicos li {
    font-size: 18px;
    margin-top: 10px;
}


section.erro-404 {
    padding: 100px;
    text-align: center;
    min-height: 500px;
    font-size: 24px;
}

section.erro-404 i {
    padding: 0 10px;
}

section.erro-404 h2 {
    border-bottom: 2px solid black;
}

section.erro-404 a {
    color: rgb(75, 221, 75);
}

footer {
    background-color: rgb(75, 221, 75);
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

footer.fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/*contato*/
.contato-container {
    display: block;
    max-width: 800px;
    margin: 20px auto;
}

.contato-container input[type="text"] {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    font-size: 18px;
}

.contato-container textarea {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    font-size: 18px;
    min-height: 150px;
    resize: none;
}

.contato-container input[type="submit"] {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    font-size: 18px;
    background-color: rgb(117, 243, 117);
    cursor: pointer;
}

.bullets {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
}

.bullets span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 5px;
}

.bullets span.active-slider {
    background-color: rgb(75, 221, 75);
}

.map iframe {
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 768px) {
    img {
        display: block;
        margin: 0 auto;
        max-width: 600px;
    }

    .w50 {
        padding: 10px;
        width: 100%;
    }

    .w33 {
        width: 100%;
    }

    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    nav.mobile ul {
        margin-top: 10px;
        z-index: 3;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: black;
        text-align: center;
        display: none;
    }

    nav.mobile li {
        display: block;
        list-style-type: none;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }

    nav.mobile li a {
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

}